<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">
    
    {% include sidebar.html %}

    <div class="content container">
    
    {% if site.message %}
        <p class="deprecation-notice"> <i class="fas fa-exclamation-triangle"></i> {{site.message}}</p>
    {% endif %}


    {{ content }}
        

	{% if page.comments %}
		<h2>Comments:</h2>
		<div id="disqus_thread"></div>
		<script>

		    (function() { 
		    var d = document, s = d.createElement('script');
		    s.src = 'https://cpihtc.disqus.com/embed.js';
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript> <a href="https://disqus.com/?ref_noscript"></a></noscript>       
    {% endif %}

    </div>
  
  </body>
</html>
